body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(236, 231, 208);
}
.picture {
  padding: 10px;
  padding-left: 3vw;
  display: flex;
  height: 215px;
}
.picture-cross {
  width: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(216, 196, 196);
  border-radius: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(247, 248, 238, 0.7);
}
tr:nth-child(odd) {
  background-color: rgb(240, 234, 232, 0.7);
}

.background-cover-web {
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  min-height: 100%;

  background: url("./assets/img/coverhours.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.container-contact-subpage {
  width: 80vw;
  padding: 50px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 100px;
}
.address-contact-subpage {
  flex-grow: 1;
  background-color: rgb(247, 248, 238, 0.4);
  padding: 30px;
  border-radius: 10px;
}
.googlemap-contact-subpage {
  flex-grow: 1;
}
.container-news-subpage {
  width: 80%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.title-news-subpage {
  flex-grow: 1;
  background-color: rgb(247, 248, 238, 0.4);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: -100px;
}
.all-news-subpage {
  flex-grow: 1;
}
.single-post-container {
  margin-top: 60px;
  background-color: rgb(247, 248, 238, 0.4);
  padding: 10px 40px;
  border-radius: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.workers-table-value {
  width: 150px;
}
.table-workers-subpage {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  height: 567px;
  width: 80vw;
}
.hours-workers-value {
  width: 150px;
}

.admin-add-post-panel {
  width: 46vw;
  float: left;
  padding: 20px;
  color: white;
}
.admin-post-input-desc {
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #333333;
  color: white;
  margin: 10px;
  padding-left: 10px;
  white-space: pre;
  overflow-wrap: break-word;
  word-break: break-word;
}
.admin-post-input-title {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #333333;
  color: white;
  margin: 10px;
  padding-left: 10px;
}
#PanelBody {
  background: #1e1e1e;
  width: 100%;
}
.admin-add-post-button {
  background: #333333;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  margin: 10px;
}
.admin-add-input-user {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #333333;
  color: white;
  margin: 10px;
  padding-left: 10px;
  word-wrap: break-word;
}
.admin-add-user-button {
  background: #333333;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 150px;
  margin: 10px;
}
.Row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
}

.loginContent {
  background-color: #511908;
  display: flex;
  height: 1000px;
  color: white;
}

.background-logpage {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background-logpage .shape-logpage {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape-logpage:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape-logpage:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
.form-logpage {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.form-logpage * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form-logpage h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.button-logpage {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
td {
  overflow-wrap: break-word;
  word-break: break-word;
}
