<app-header></app-header>
<div class="menu-bar">
  <div id="button-menu-bar-1" routerLink="/aktualnosci" class="button-menu-bar">
    Aktualności i ogłoszenia
  </div>
  <div id="button-menu-bar-2" routerLink="/godziny" class="button-menu-bar">
    Godziny mszy
  </div>
  <div id="button-menu-bar-3" routerLink="/ksieza" class="button-menu-bar">
    Nasi księża
  </div>
  <div id="button-menu-bar-4" routerLink="/kontakt" class="button-menu-bar">
    Kontakt
  </div>
</div>

<router-outlet></router-outlet>
